body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

button {
  background-color: aliceblue;
  border-radius: 5px;
  border: none;
  padding: 5px;
  box-shadow: black 0px 0px 2px 0px; }

button:focus {
  outline: none; }

button:hover {
  background-color: #8eb8e6; }

button:active {
  box-shadow: none;
  background-color: cornflowerblue; }

input[type="text"], input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: solid 2px transparent; }

input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
  border: solid 2px #6d8891; }

#login-view {
  background-color: lightblue;
  padding: 5px; }
  #login-view form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #login-view form * {
      margin-bottom: 5px; }
    #login-view form label * {
      margin-left: 5px; }
    #login-view form .login-buttons {
      display: flex;
      flex-direction: row;
      margin-top: 5px; }
      #login-view form .login-buttons * {
        margin-right: 5px; }

#signup-view {
  background-color: lightblue; }
  #signup-view form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #signup-view form * {
      margin-top: 5px; }

.post {
  background-color: lightblue;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px; }
  .post .post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px; }
    .post .post-header .post-user-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: gray;
      margin-right: 5px; }
    .post .post-header .post-time {
      color: #4d4d4d;
      font-size: 0.7em;
      margin-left: auto; }
  .post .post-content {
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 5px; }
  .post .post-footer button {
    margin-right: 5px; }

.comment {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid black; }
  .comment * {
    margin-right: 5px; }
  .comment .comment-user-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: gray; }
  .comment .comment-user {
    color: black; }
  .comment .comment-content {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    flex-grow: 1; }

.new-post {
  background-color: lightblue;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px; }
  .new-post form {
    display: flex;
    flex-direction: row; }
    .new-post form .new-post-text {
      border: none;
      flex-grow: 1;
      border-radius: 5px;
      padding: 5px; }
    .new-post form * {
      margin-right: 5px; }

.feed-view .feed-main {
  display: flex;
  flex-direction: row; }
.feed-view .feed-header {
  display: flex;
  flex-direction: row;
  background-color: cornflowerblue;
  margin-bottom: 5px;
  align-items: center;
  padding: 5px; }

.new-comment {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: lightblue;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 5px; }
  .new-comment form {
    display: flex;
    flex-direction: row; }
    .new-comment form input[type="text"] {
      flex-grow: 1;
      margin-right: 5px; }

.post-container {
  flex-grow: 5; }
  .post-container .post, .post-container .new-post {
    margin-bottom: 5px; }

.user-info {
  background-color: lightblue;
  flex-grow: 1;
  border: solid 1px black;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px; }
  .user-info .user-info-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: gray; }
  .user-info .user-info-username {
    font-weight: bold; }
  .user-info .user-info-info {
    font-family: Serif; }

.user-view {
  display: flex;
  flex-direction: row; }
  .user-view .user-info {
    border: solid 1px black;
    background-color: lightblue;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    padding: 5px; }
    .user-view .user-info .user-pic {
      width: 48px;
      height: 48px;
      background-color: gray;
      border-radius: 50%; }
  .user-view .user-posts {
    flex-grow: 10;
    background-color: blue; }

/*# sourceMappingURL=index.css.map */
