body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

button, .profile-pic-label {
  background-color: aliceblue;
  border-radius: 5px;
  //border: 2px solid #737373;
  border: none;
  padding: 5px;
  box-shadow: black 0px 0px 2px 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  //color: #4d4d4d;
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #8eb8e6;
  }

  &:active {
    box-shadow: none;
    background-color: cornflowerblue;
  }
}

//button:focus {
//  outline: none;
//}
//
//button:hover {
//
//
//  background-color: #8eb8e6;
//}
//
//button:active {
//  box-shadow: none;
//  background-color: cornflowerblue;
//
//}

input[type="text"], input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: solid 2px lightblue;
}

input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
  border: solid 2px #6d8891;
}


#login-view {
  background-color: lightblue;
  padding: 5px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
      margin-bottom: 5px;
    }

    label {
      * {
        margin-left: 5px;
      }
    }

    .login-buttons {
      display: flex;
      flex-direction: row;
      margin-top: 5px;

      * {
        margin-right: 5px;
      }
    }
  }
}

#signup-view {
  background-color: lightblue;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
      margin-top: 5px;
    }
  }
}

.post {
  background-color: white;
  //border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: black 0px 0px 2px 0px;
  border: none;
  //max-width: 75%;
  //width: 90%;
  width: 490px;

  .post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    //justify-items: stretch;

    .post-user-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      //background-color: gray;
      border: solid 1px gray;
      margin-right: 5px;
    }

    .post-user {
      text-decoration: none;
      color: black;
      font-weight: bold;

      &:visited {
        color: inherit;
      }

      &:hover {
        //color: blueviolet
        text-decoration: underline;
      }

    }

    .post-time {
      color: darken(gray, 20%);
      font-size: 0.7em;
      margin-left: auto;
    }

  }

  .post-content {
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    word-wrap: break-word;
  }

  .post-footer {
    button {
      margin-right: 5px;
    }
  }
}

.comment {
  //background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid gray;

  * {
    margin-right: 5px;
  }

  .comment-user-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    //background-color: gray;
    border: solid 1px gray;
  }

  .comment-user {
    color: black;
    font-weight: bold;
    text-decoration: none;
    &:visited {
      color: inherit;
    }

    &:hover {
      //color: blueviolet
      text-decoration: underline;
    }
  }

  .comment-content {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    flex-grow: 1;
  }
}

.new-post {
  //background-color: lightblue;
  //border: solid 1px black;
  border-radius: 5px;
  //padding: 5px;
  border: none;
  box-shadow: black 0 0 2px 0;
  //width: 90%;
  width: 500px;
  form {
    display: flex;
    padding: 5px;
    flex-direction: row;
    //justify-items: stretch;
    .new-post-text {
      //border: none;
      margin-right: 5px;
      flex-grow: 1;
      //border-radius: 5px;
      //padding: 5px;
    }

    //* {
    //  margin-right: 5px;
    //}
  }
}

.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-bottom: 5px;
  align-items: center;
  //padding: 5px;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  //margin-top: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  & + div {
    margin-top: 70px;
  }

  * {
    margin-right: 5px;
  }

  .logout-btn {
    //margin-left: auto;
  }

  .search-box {
  }

  .submit-search-btn {
    margin-left: 5px;
  }
}

.new-comment {
  margin-top: 5px;
  margin-bottom: 5px;
  //background-color: lightblue;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 5px;

  form {
    display: flex;
    flex-direction: row;

    input[type="text"] {
      flex-grow: 1;
      margin-right: 5px;
    }
  }
}

.feed-view {
  display: flex;
  flex-direction: column;
  align-items: center;

  .new-post {
    margin-bottom: 20px;
  }
}

.post-container {
  //flex-grow: 5;
  //background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  //padding: 5px;
  //scroll-behavior: auto;
  .post {
    //min-width: 50%;
    margin-bottom: 20px;
  }
}

.post-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  background-color: lightblue;
  flex-grow: 1;
  //border: solid 1px black;
  margin-right: 5px;
  margin-left: 5px;
  //padding: 5px;
  //border-radius: 5px;
  border: none;
  //box-shadow: black 0 0 2px 0;

  .user-info-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: gray;
  }

  .user-info-username {
    font-weight: bold;
  }

  .user-info-info {
    font-family: Serif;
  }
}

.other-user-view-main {
  display: flex;
  //flex-direction: row;
  flex-direction: column;

  .user-posts-title {
    font-weight: bold;
  }

  .other-user-info {
    //border: solid 1px black;
    //background-color: lightblue;
    //margin-right: 5px;
    //margin-left: 5px;
    //border-radius: 5px;
    //padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px black;

    .other-user-pic {
      width: 96px;
      height: 96px;
      //background-color: gray;
      border-radius: 50%;
      border: solid 1px gray;
    }

    .username {
      font-weight: bold;
    }
  }

  .user-posts {
    flex-grow: 10;
    background-color: blue;
  }
}

.current-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;

  .current-user-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    //background-color: red;
    border: solid 1px gray;
  }

  .current-username {
    font-weight: bold;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profile-pic {
      width: 64px;
      height: 64px;
      border-radius: 50%;

      //background-color: black;
    }

    .profile-pic-input {
      display: none
    }

    //.profile-pic-label {
    //  border-radius: 5px;
    //  border: solid 1px black;
    //  padding: 5px;
    //  &:hover{
    //    background-color: yellow;
    //  }
    //  &:active{
    //    background-color: blue;
    //  }
    //}
  }
}

.following-view {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.followed-user {
  border-radius: 5px;
  padding: 20px;
  border: solid 1px gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 290px;
  .followed-user-pic {
    width: 64px;
    height: 64px;
    border: solid 1px gray;
    border-radius: 50%;
    margin-right: 10px;
  }

  button {
    margin-left: 20px;
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retweet-wo-comment {
  border: solid 1px gray;
}

.retweet-w-comment {
  border: solid 1px gray;
}

.retweet-content {
  border: solid 1px blue;
}