body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

button, .profile-pic-label {
  background-color: aliceblue;
  border-radius: 5px;
  border: none;
  padding: 5px;
  box-shadow: black 0px 0px 2px 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em; }
  button:focus, .profile-pic-label:focus {
    outline: none; }
  button:hover, .profile-pic-label:hover {
    background-color: #8eb8e6; }
  button:active, .profile-pic-label:active {
    box-shadow: none;
    background-color: cornflowerblue; }

input[type="text"], input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: solid 2px lightblue; }

input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
  border: solid 2px #6d8891; }

#login-view {
  background-color: lightblue;
  padding: 5px; }
  #login-view form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #login-view form * {
      margin-bottom: 5px; }
    #login-view form label * {
      margin-left: 5px; }
    #login-view form .login-buttons {
      display: flex;
      flex-direction: row;
      margin-top: 5px; }
      #login-view form .login-buttons * {
        margin-right: 5px; }

#signup-view {
  background-color: lightblue; }
  #signup-view form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #signup-view form * {
      margin-top: 5px; }

.post {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: black 0px 0px 2px 0px;
  border: none;
  width: 90%; }
  .post .post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px; }
    .post .post-header .post-user-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: solid 1px gray;
      margin-right: 5px; }
    .post .post-header .post-user {
      text-decoration: none;
      color: black;
      font-weight: bold; }
      .post .post-header .post-user:visited {
        color: inherit; }
      .post .post-header .post-user:hover {
        text-decoration: underline; }
    .post .post-header .post-time {
      color: #4d4d4d;
      font-size: 0.7em;
      margin-left: auto; }
  .post .post-content {
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    word-wrap: break-word; }
  .post .post-footer button {
    margin-right: 5px; }

.comment {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid gray; }
  .comment * {
    margin-right: 5px; }
  .comment .comment-user-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: gray; }
  .comment .comment-user {
    color: black; }
  .comment .comment-content {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    flex-grow: 1; }

.new-post {
  border-radius: 5px;
  padding: 5px;
  border: none;
  box-shadow: black 0 0 2px 0;
  width: 90%; }
  .new-post form {
    display: flex;
    flex-direction: row; }
    .new-post form .new-post-text {
      flex-grow: 1; }
    .new-post form * {
      margin-right: 5px; }

.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-bottom: 5px;
  align-items: center;
  padding: 5px;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  margin-top: 5px; }
  .header * {
    margin-right: 5px; }
  .header .logout-btn {
    margin-left: auto; }
  .header .submit-search-btn {
    margin-left: 5px; }

.feed-view .feed-main {
  display: flex;
  flex-direction: row; }

.new-comment {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: lightblue;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 5px; }
  .new-comment form {
    display: flex;
    flex-direction: row; }
    .new-comment form input[type="text"] {
      flex-grow: 1;
      margin-right: 5px; }

.main-post {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-post .new-post {
    margin-bottom: 20px; }

.post-container {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .post-container .post, .post-container .new-post {
    margin-bottom: 20px; }

.user-info {
  background-color: lightblue;
  flex-grow: 1;
  margin-right: 5px;
  margin-left: 5px;
  border: none; }
  .user-info .user-info-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: gray; }
  .user-info .user-info-username {
    font-weight: bold; }
  .user-info .user-info-info {
    font-family: Serif; }

.other-user-view-main {
  display: flex;
  flex-direction: column; }
  .other-user-view-main .user-posts-title {
    font-weight: bold; }
  .other-user-view-main .other-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px black; }
    .other-user-view-main .other-user-info .other-user-pic {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      border: solid 1px gray; }
    .other-user-view-main .other-user-info .username {
      font-weight: bold; }
  .other-user-view-main .user-posts {
    flex-grow: 10;
    background-color: blue; }

.current-user-info {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .current-user-info .current-user-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 1px gray; }
  .current-user-info .current-username {
    font-weight: bold; }

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .profile .profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .profile .profile-form .profile-pic {
      width: 64px;
      height: 64px;
      border-radius: 50%; }
    .profile .profile-form .profile-pic-input {
      display: none; }

/*# sourceMappingURL=index.css.map */
